<div class="app-card-container">
  <div class="card">
    <h1 id="about-me">About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpeg", width: 300, alt: "profile image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
          <p>I am 25 years old and have completed two years of college as well as a full-stack software development bootcamp at Bottega Tech. I am interested in the studies of Computer Science and am in pursuit of a BS in the field. I believe it is key to balance science with art and I express myself as lead singer & rhythm guitarist in the band <em>Widow Case</em>. </p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Job 1
            </div>
            <div class="card card-block">
              Job 2
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              School 1
            </div>
            <div class="card card-block">
              School 2
            </div>
            <div class="card card-block">
              School 3
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>