<h1>About Me</h1>
<p>I am 25 years old and have completed two years of college as well as a software development bootcamp. I am interested in the studies of Computer Science and am in pursuit of a BS in the field. I believe it is key to balance science with art and express myself as lead singer & rhythm guitarist in the band <em>Widow Case</em>. </p>
