<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">

    <%= image_tag "profile.jpeg", width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-8">
    <p>I am 25 years old and have completed two years of college as well as a software development bootcamp. I am interested in the studies of Computer Science and am in pursuit of a BS in the field. I believe it is key to balance science with art and express myself as lead singer & rhythm guitarist in the band <em>Widow Case</em>. </p>
  </div>
</div>



