<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Software development is the future and I will be a part of that future. View my projects within, along with my daily projects and books I am studying.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


