<div class="inner cover">
    <h1 class="cover-heading">Welcome.</h1>
    <p class="lead">Software development is my future, let it be ours. View my projects within, as well as daily exercises and books I am studying.</p>
    <p class="lead">"You're gonna run into bugs when you're building out apps. If you think everything's going to run perfectly every time, you're going to be a <strong>very depressed</strong> developer." - Jordan Hudgens</p>
    <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>