<div class="inner cover">
  <h1 class="cover-heading">Developer Résumé.</h1>
  <p class="lead">Within you will find my current projects and listed experience.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


