// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  
  font: 100% Helvetica, sans-serif;
  font-color: #666;
  background-color: #ef3453;
  background-image: url('https://lh3.ggpht.com/6LljnGzcaZYnG7ZIR8qn2HtwrHhUQ9HRpEuYrk_xSuLiYqThqYEG7u2tfgeIQYFLkq0=h900');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-left: 100px;
  padding-top: 20px;
}

h1 {

  font: Helvetica, sans-serif;
  text-decoration: underline;

}

