// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*body {
  
  font: 100% Helvetica, sans-serif;
  font-color: #666;
  background-color: #ef3453;
  background-image: url('https://images3.alphacoders.com/855/85585.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  padding-left: 100px;
  padding-top: 20px;
  padding-right: 100px;       

}

h1 {

  font: Helvetica, sans-serif;
  text-decoration: underline;
}

td {
  padding: 10px;
}

a:hover {

color: white;

}

img {
  border: 2px black solid;
}
*/

body {
  background-color: black;
  color: white;
}